

name: nightly

on:
  schedule:
    - cron: '0 2 * * *'

# cancel the in-progress workflow when PR is refreshed.
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

# Testing only needs permissions to read the repository contents.
permissions:
  contents: read
  packages: write

jobs:
  tests:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.24"

      - run: GOPATH=$(go env GOPATH) make test

      - run: GOPATH=$(go env GOPATH) LAKEKEEPER_VERSION=latest-main make test-integration
        timeout-minutes: 10
